<form #signupform="ngForm" (ngSubmit)="register(signupform)">
    <h3>Register</h3>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email" name="email" required email ngModel #email="ngModel">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password" required minlength="6" ngModel #password="ngModel">
    </div>  
    <button type="submit" [disabled]="signupform.invalid" class="btn btn-primary">Register</button>
    <button type="button" (click)="reset(signupform)" class="btn btn-primary">Reset</button>
</form>
